<div class="container">
    <div class="row">
        <div ng-show="infoCtrl.signedUp">
            <h1>Showing information for user.</h1>
            <p>First name: {{infoCtrl.user.firstName}}</p>
            <p>Last name: {{infoCtrl.user.lastName}}</p>
            <p>Email: {{infoCtrl.user.email}}</p>
            <p>Phone: {{infoCtrl.user.phone}}</p>
            <p>Favorite dish: {{infoCtrl.user.favoriteDishDetails.name}}</p>
            <p>{{infoCtrl.user.favoriteDishDetails.description}}</p>
            <img class="img-responsive" ng-src="{{infoCtrl.apiPath}}/images/{{infoCtrl.user.favoriteDish}}.jpg" alt="{{infoCtrl.user.favoriteDishDetails.name}}" />

        </div>

        <div ng-hide="infoCtrl.signedUp">
            <h1>You need to signup first. <a class="btn btn-default" ui-sref="public.signup">Signup now!</a></h1>
        </div>
    </div>
</div><div class="container">
  <h2 class="text-center">My Info</h2>
  
  <div ng-if="!myInfoCtrl.info">Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></div>
  <div ng-if="myInfoCtrl.info">
    <div>
    First name: {{myInfoCtrl.info.firstName}} <br />
    Last name: {{myInfoCtrl.info.lastName}} <br />
    Email address: {{myInfoCtrl.info.email}} <br />
    Phone number: {{myInfoCtrl.info.phone}} <br />
  </div>
  <div>
    <h2 class="text-center">Favorite</h2>
  <menu-item
             menu-item="myInfoCtrl.menuItem">
  </menu-item>
</div>
  </div>
</div>
